@import 'https://fonts.googleapis.com/css?family=Inconsolata:700|Roboto+Slab:300';

body {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    color: rgb(42,42,42);
}

h1, h2, h3, h4 {
    font-family: 'Inconsolata', sans-serif;
}

body {
    font-size: 18px;
}

img {
    max-height: 100%;
}

/* LAYOUT */
.left {
    /*float: left;*/
    height: 100%;
    width: 30%;
	/*background-color: #001f3f;*/
	background-image: url("../img/color-bg-dark.jpg");
    color: #7FDBFF;
    border-right: 5px solid #7FDBFF;
}

.top {
    height: 100vh;
}

.right {
    margin-left: 30%;
    width: 70%;
    float: right;
    background: #FAFAFA;
    color: #0074D9;
    padding: 10em 0;
    text-align: left;
    max-width: 70%;
}

/* CONTENTS */
.hoyahacks {
    word-spacing: -10px;
    text-transform: lowercase;
}

.nav-left {
    padding: 0;
    list-style: none;
    font-size: 18px;
}

.nav-left li {
    margin-bottom: 5px;
}

.nav-left a {
    color: #7FDBFF;
}

.centered-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.contents-container {
    width: 40em;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.contents-container .main-title {
    font-size: 45px;
}

.contents-container .attention {
    font-size: 60px;
    margin-bottom: 75px;
}

.section {
    margin-bottom: 50px;
}

/* PEOPLE */
.people {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}

.people .name {
    text-align: center;
    margin-top: 10px;
}

.people .photo {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
	border-radius: 50%;
    /*border-radius: 2px;*/
    border: 2px solid #001f3f;
}

/* SPONSORS */
.sponsors .item-holder {
	vertical-align: middle;
    text-align: center;
    margin: 25px auto;
}

.sponsor-photo {
    max-width: 70%;
	display: inline-block;
}

/* INPUT */
.signup-button {
    display: block;
    background: #7FDBFF;
    margin: 20px 0 20px;
    padding: 10px;
    text-align: center;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 992px) {
    .left {
        width: inherit;
        /*background-color: #001f3f;*/
		background-image: url("../img/color-bg-dark.jpg");
        border: none;
    }
    .top {
        border-bottom: 5px solid #7FDBFF;
    }
    .right {
        width: 100%;
        max-width: 100%;
        float: inherit;
        margin: 0;
    }
    .affix {
        display: none;
    }
}

@media only screen and (max-width : 767px){
    body {
        font-size: 17px;
    }
    .people {
        margin-top: 0;
    }
    .item-holder {
        margin-top: 20px;
    }
    .contents-container .attention {
        font-size: 45px;
    }
    .sponsors .item-holder {
        height: 100px;
    }
}

@media only screen and (max-width : 520px){
    body {
        font-size: 16px;
    }
    .contents-container {
        max-width: 80%;
    }
}

/* MODIFIERS */
.light-text {
    color: #0074D9;
}
.dark-text {
    color: #001f3f;
}